{% extends 'core/base.html' %}
{% block contenido %}

<h2>¿Quienes somos? </h2>
<p>Somos aficionados y  
                        tendecia a buscar los modelos más originales. Materialidades, diseños y bordados 
                        ya no tienen límites, lo que las convierte en un ítem atemporal 
                        y completamente deseable<br><br>
                    Las zapatillas son un elemento de moda que evoluciona y sorprende cada 
                    temporada con modelos más originales. Materialidades, diseños y bordados 
                    ya no tienen límites, lo que las convierte en un ítem atemporal 
                    y completamente deseable<br><br>
                    Ahora el panorama es radicalmente distinto, 
                    las marcas se la juegan por crear modelos distintos, icónicos. <br><br> 
                    Nuevos clásicos
                    Los fans de las zapatillas somos buenos para la marca regalona, 
                    si bien a veces podemos aprovechar las ofertas y amplia variedad que
                     ofrece el retail, es difícil caer en los clásicos. 
                     Existen fans de Puma, Vans, New Balance y muchas más marcas. 
                     <br><br>
                     Si hablamos de clasicos, todos conocemos las Converse, pero incluso ellos 
                     entendieron que las clásicas Chuck Taylor no sobrevivirían para
                      siempre si no innovaban. Es por esto que al igual que muchas 
                      otras marcas, hoy experimentan <br><br>
                Nuetra mision es ofrecer informacion sobre las zapatillas mas actuales<br><br>
                </p>
{% endblock contenido %}